@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/*main container for desktop*/
main {
    background-color: pink;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: "abel", sans-serif;
   
}

/*main header for desktop*/
h1 {
    text-align: center;
    font-weight: 600;
}

/*form for desktop*/
form {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 89.8vh;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;


}

/*labels for desktop*/
label {
    text-align: center;
    margin: auto;
    margin-top: 10px;
    width: 50%;
    text-align: left;
    font-size: 16px;


}

/*desktop input*/
input {
    width: 50%;
    height: 40px;
    margin: auto;
    margin-top: 5px;
    border-radius: 5px;
    border: 0;

}

/*text area for desktop*/
textarea {
    width: 50%;
    margin: auto;
    margin-top: 5px;
    border-radius: 5px;
}

/*button for desktop*/

button {
    width: 20%;
    height: 30px;
    margin: auto;
    margin-top: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: ;
    border: 0;
    cursor: pointer;
    background-color: pink;
}

/*styling nav bar for desktop*/
.topnav {
    overflow: hidden;
    background-color:black;
    opacity: 0.8;
  }

  /*styling links of nav bar desktop*/
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
    
  }
  
  /*styling hover over the links for desktop*/
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: black;
    color: white;
  
  }

  
  /*hamburger icon will just appears for mobile phone*/
  .topnav .icon {
    display: none;
  }
  
.icon {
    width: 30px;
    margin-right: 5px;
    
  }
  
  /*styling for mobile*/

  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }

   form {
    width: 90%;
   }
  
  }

 @media screen and (max-width: 600px) { 
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
   

    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  


  
    
  
  
   